
button {
    border: 3px solid #FFD700;
    padding: 15px 30px;
    text-decoration: none;
    color: #FFD700;
    background-color: #060CE9;
    transition: 0.3s;
    font-size: 2em;
    cursor: pointer;
    outline: none;
    align-content: center;
}

button:hover {
    color: white;
    background-color: #FFD700;
}