.heading {
    margin-top: 4em;
    font-size: 48px;
    text-align: center;
}

.score {
    font-size: 30px;
    margin-bottom: 3em;
    text-align: center;
}

/* .button {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 4em auto;
} */

 .button {
     width: auto;
     margin: 1em auto;
 }